@import '~antd/dist/antd.css';

.layout {
	
  header h1 {
	color:#eee
  }
  .content {
    padding: 0 50px;

    .inner-layout {
      background: #fff;

      .inner-content {
        min-height: 400px;
        padding: 32px;

        .item-select {
          width: 100%;
        }

        .json-view {
          margin-top: 16px;
        }
      }
    }
  }
}

.data-view
{
	.ant-descriptions
	{
		.ant-descriptions-view
		{
			table
			{
				td
				{
					min-height:60px;
					height:60px;
					text-align:center;
					padding: 5px 10px;
				}
				th
				{
					min-height:60px;
					height:60px;
					text-align:center;
					padding: 5px 10px;
				}
			}
		}
	}
	.json-view-title
	{
		padding: 10px 5px 0 20px;
		font-weight: bold;
		font-size: 16px;
	}
}

