/* global variables to quickly change colors */
:root {
  --box-border-alphawhite: rgba(255, 255, 255, 0.1);
  --content-top: 32px;
  --content-top-compensate: 50px;
  --color-back: #000;
  --color-back-hover: #222;
  --color-front: #fff;
  --color-front-hover: #aaa;
}

@font-face {
  font-family: BenderLight;
  src: url('Bender-Light.woff');
  font-display: block;
}

html,
body {
  width: 100%;
  height: calc(100% - 5px);
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'BenderLight', sans-serif;
  color: var(--color-front);
  background: var(--color-back);
}

.container {
  text-align: center;
}

.vertical-center {
  margin: 0 auto;
  position: absolute;
  width: 100%;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* display content handling */
#initial, #app {
  display: block;
  position: absolute;
  width: 100%;
}
#app {
  height: 100%;
}
#initial {
  height: calc(100% - 64px);
}

/* Title bar */
#titlebar {
  z-index: 9999;
  top: 0px;
  display: block;
  position: absolute;
  border-bottom: 1px solid var(--box-border-alphawhite);
  width: 100%;
  padding: 0;
  color: #FFF;
  background: rgba(0, 0, 0, 0.25);
}

#titlebar #drag-region {
  width: 100%;
  height: 100%;
  -webkit-app-region: drag;
  display: grid;
  grid-template-columns: auto 138px;
}

#window-title {
  grid-column: 1;
  display: flex;
  align-items: center;
  margin-left: 8px;
  overflow: hidden;
  font-family: "Segoe UI", sans-serif;
  font-size: 16px;
  font-weight: 100;
  padding: 8px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

#window-title span {
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5;
  background: -webkit-linear-gradient(#fff, #aaa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

#window-controls {
  display: grid;
  grid-template-columns:   repeat(3, 46px);
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  font-family: 'Segoe MDL2 Assets', sans-serif;
  font-size: 10px;
}

#window-controls {
  -webkit-app-region: no-drag;
}

#window-controls .button {
  grid-row: 1 / span 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
  user-select: none;
  color: #BBB;
}

#window-controls .button:hover {
  background: rgba(255, 255, 255, 0.2);
  color: #FFF;
}

#window-controls #min-button {
  grid-column: 2;
}

#window-controls #close-button {
  grid-column: 3;
}

#window-controls #close-button:hover {
  background: #E81123;
}
