.index {
  overflow: hidden;
  height: 100%;
  position: relative;
}

@keyframes background-anim {
  0% {
    opacity: 0.3;
  }
  45% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.4;
  }
  100% {
    opacity: 0.3;
  }
}

.index .background {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: url('https://forum.escapefromtarkov.com/uploads/monthly_2016_01/r2028_snowfallback.jpg.2cabba821c87c9a6e0090e52966123c5.jpg') no-repeat center center;
  background-size: 140%;
  animation: background-anim linear 8s infinite;
}

.index .menu {
  padding: 28px 32px;
  position: absolute;
  width: 300px;
  box-sizing: border-box;
}

.index .menu button {
  display: block;
  width: 100%;
  box-sizing: border-box;
  background: transparent;
  padding: 16px;
  font-size: 1.25em;
  text-transform: uppercase;
  transition: background ease-in-out 0.075s;
  border-radius: 1.5px;
  font-family: 'BenderLight', sans-serif;
  border: none;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4),
               0 2px 0 rgba(0, 0, 0, 0.4),
               0 0 2px rgba(0, 0, 0, 0.2);
}

.index .menu button:hover {
  background: rgba(255, 255, 255, 0.15);
}

.index .menu button:focus {
  outline: none;
}

.index .menu button:active {
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.4)
}

.index .menu button:not(:last-child) {
  margin-bottom: 16px;
}

.index .selectedMenuData {
  position: absolute;
  left: 300px;
  right: 0;
  bottom: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.55);
  padding: 32px;
}
